{{#each project}}
<h1>{{this.title}}</h1>
{{/each}}

<ul>
{{#each project}}
  <li>Author: {{this.author}}</li>
  <li>Title: {{this.title}}</li>
  <li>Link: {{this.link}}</li>
  <li>Description: {{this.description}}</li>
  <br>
<form form="form" action="/portfolio/{{id}}/edit" method="GET" enctype="x-www-form-urlencoded">
  <input type="submit" value="edit">
</form>
<form form="form" action="/portfolio" method="GET" enctype="x-www-form-urlencoded">
  <input type="submit" value="back">
</form>


<form form="form" method="POST" enctype="x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
{{/each}}
</ul>

