<h1>My Projects</h1>

<a href="/portfolio/new"><button>New Project</button></a>

<ul>
{{#each project}}
  <li>Author: {{this.author}}</li>
  <li>Title: {{this.title}}</li>
  <li>Link: {{this.link}}</li>
  <li>Description: {{this.description}}</li>
  <a href="/portfolio/{{id}}"><button>More Info</button></a>
  <br>
  <br>
{{/each}}
</ul>
