<ul>
{{#each project}}
  <div class="project-description-container">

    <h1 class="title">{{this.title}}</h1>
    <img src="{{this.image}}">
    <hr class="horizontal">
    <div class="row">
      <div class="primary col">
        <div class="web-address"><strong>Web Adress: </strong><a href="#">{{this.link}}</a></div>
        <br>
        <div class="link"><strong>Github Repository: </strong><a href="{{this.link}}">{{this.link}}</a></div>
      </div>
      <div class="secondary col">
        <div class="description"><strong>Description:</strong> {{this.description}}</div>
      </div>
    </div>
  </div>

  <a href="/portfolio"><button>Back</button></a>
  {{#if ../user.admin}}
    <a href="/portfolio/{{id}}/edit"><button>edit</button></a>

    <form form="form" method="POST" enctype="x-www-form-urlencoded">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
  {{/if}}
{{/each}}
</ul>

