{{#each project}}
<h1>{{this.title}}</h1>
{{/each}}

<ul>
{{#each project}}
  <li>Author: {{this.author}}</li>
  <li>Title: {{this.title}}</li>
  <li>Link: {{this.link}}</li>
  <li>Description: {{this.description}}</li>
  <br>

<a href="/portfolio/{{id}}/edit"><button>edit</button></a>

<a href="/portfolio"><button>Back</button></a>

<form form="form" method="POST" enctype="x-www-form-urlencoded">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
{{/each}}
</ul>

