
{{#each project}}
<h1>{{this.title}}</h1>
{{/each}}

<ul>
{{#each project}}
  <div class="project-description-container">
    <img src="{{this.image}}">
    <div class="description"><strong>Description:</strong> {{this.description}}</div>

    <div class="link"><strong>Github Repository:</strong><a href="{{this.link}}">{{this.link}}</a></div>

  </div>

  <a href="/portfolio"><button>Back</button></a>
  {{#if ../user.admin}}
    <a href="/portfolio/{{id}}/edit"><button>edit</button></a>

    <form form="form" method="POST" enctype="x-www-form-urlencoded">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
  {{/if}}
{{/each}}
</ul>

