<div class="headContainer">
  <div class="header">Jay Houn's Programming Portfolio</div>
</div>

{{#if user.admin}}
  <a href="/portfolio/new"><button>New Project</button></a>
{{/if}}


{{#each project}}
  <div class="bodyContainer">
    <div class="title">{{this.title}}</div>
    <img src="{{this.author}}">
    <div class="description"><strong>Description:</strong> {{this.description}}</div>

    <div class="link"><strong>Github Repository:</strong><a href="{{this.link}}">{{this.link}}</a></div>
    {{#if user.admin}}
      <a href="/portfolio/{{id}}"><button>More Info</button></a>
    {{/if}}
  </div>
{{/each}}

