<div class="headContainer">
  <h1>Jay Houn's Programming Portfolio</h1>
</div>
<a href="/portfolio/new"><button>New Project</button></a>

{{#each project}}
  <div class="bodyContainer">
    <div class="title">{{this.title}}</div>
    <img src="{{this.author}}">
    <div class="link"> {{this.link}}</div>
    <div>Description: {{this.description}}</div>
    <a href="/portfolio/{{id}}"><button>More Info</button></a>
  </div>
{{/each}}

